Hola {{ user.first_name|default:user.username }},

Solicitaste un reestablecimiento de contraseña para tu cuenta en el Sistema de Convivencia Escolar asociada a este correo.

Si fuiste tú, haz clic en el siguiente enlace para elegir una nueva contraseña:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Si no fuiste tú, ignora este correo.

(Importante: El nombre de usuario/RUT de tu cuenta no se ve afectado).

Saludos,
El equipo de Administración del Colegio.